@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

body {
    background-color: #E0E5EC;
    font-family: 'Montserrat', sans-serif;
}

.content {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #000000;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

p {
    color: #000000;
    padding: 10px;
    text-align: center;
}

.btn,
.btn1 {
    height: 50px;
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.btn:hover,
.btn1:hover {
    box-shadow: 5px 5px 10px #BFC7D1, -5px -5px 10px #FFFFFF;
}

.btn:active,
.btn1:active {
    box-shadow: inset 3px 3px 6px #BFC7D1, inset -3px -3px 6px #FFFFFF;
}

.btn {
    color: #000000;
    background-color: #E0E5EC;
    box-shadow: 5px 5px 10px #BFC7D1, -5px -5px 10px #FFFFFF;
    border: none;
}

.btn1 {
    color: #000000;
    background-color: #E0E5EC;
    box-shadow: 5px 5px 10px #BFC7D1, -5px -5px 10px #FFFFFF;
    border: none;
    position: relative;
}

.card,
.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px 15px 30px;
    max-width: 500px;
    border-radius: 5px;
    margin-top: 20px;
    transition: box-shadow 0.3s ease;
    margin: auto;
    background-color: #E0E5EC;
    box-shadow: 5px 5px 10px #BFC7D1, -5px -5px 10px #FFFFFF;
}

.card1 {
    flex-direction: row;
    background-color: #FFAA00;
}

@media (min-width: 768px) {
    .card1 {
        flex-direction: row;
    }
}

button:focus {
    outline: none;
}

img {
    height: 25px;
    width: 25px;
}

#poetryResult,
#definitionResult {
    margin-top: 20px;
    text-align: left;
    background-color: #E0E5EC;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #BFC7D1, -5px -5px 10px #FFFFFF;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em !important;
    color: #333 !important;
}

input {
    width: 100%;
    padding: 12px !important;
    margin-bottom: 20px !important;
    border: 2px solid #ccc !important;
    border-radius: 8px !important;
    transition: border-color 0.3s ease, box-shadow 0.3s ease !important;
    background-color: #E0E5EC;
    box-shadow: 5px 5px 10px #BFC7D1, -5px -5px 10px #FFFFFF;
}

input:hover,
input:focus {
    border-color: #3D3D3D !important;
    box-shadow: 0 0 5px rgba(255, 170, 0, 0.5) !important;
}

.close {
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    font-size: 1.5em !important;
    color: #000 !important;
    cursor: pointer !important;
    background: transparent !important;
    border: none !important;
    background-color: #E0E5EC;
    box-shadow: 5px 5px 10px #BFC7D1, -5px -5px 10px #FFFFFF;
}

.close:hover {
    box-shadow: 0 0 5px rgba(255, 170, 0, 0.5) !important;
}

audio {
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #E0E5EC;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 10px #BFC7D1, -5px -5px 10px #FFFFFF;
}

audio:hover {
    box-shadow: 8px 8px 16px #BFC7D1, -8px -8px 16px #FFFFFF;
}

source {
    outline: none;
}
